# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\hamna\Documents\Tugas Kuliah\Semester 2\Pemrograman Berorientasi Obyek\GallonPBO1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
